body {
    background-image: url("Images/wood.jpg");
    background-color: #ffffff;
}

.mainContent {
    background-color: #d6d2ad;
}   

.header {
    background-image: url("Images/books.jpg");
    background-repeat: repeat-x;
    width:auto;
    height:132px;
    border-bottom: solid 3px #d6d2ad
}

.header h1 {
    border-width:5px;
    border-color: #ffffff;
    padding-top: 40px;
    text-align: center;
    color: #d6d2ad;

    text-shadow: 
                -2px -2px 0 black,  /* Top-left */
                2px -2px 0 black,   /* Top-right */
                -2px 2px 0 black,   /* Bottom-left */
                2px 2px 0 black;    /* Bottom-right */
}

.img-container {
    background-color: #88848c;
    margin: 5px;
    border: solid 3px #a4b588
}


.img-link {
    width: 60%;
    padding-top:30px;
    padding-bottom:30px;
}

.navList {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    width:auto
}

.navList ul {
    padding-left: 0px;
}

.navList li {
    margin: 5px;
    padding-left: 5px;
    background-color: #ededed;
    border-radius:4px;
}

.book-thumb {
    width: 125px;
    height: 193px;
    transition: transform 0.3s;
}

.book-thumb:hover {
    transform: scale(1.1);
}

.thumb-container {
    max-width: calc(100% / 4); /* Set maximum width for each column (3 columns per row) */
    flex-basis: calc(100% / 4); /* Set initial width for each column */
    margin-bottom: 10px;
}

.detail-img {
    width: 397px;
    height: 600px;
}

.book-info {
    border-collapse: collapse;
    width: 100%
}

.book-info tr:nth-child(even) {
    background-color:#f2f2f2;
}

.book-info tr {
    background-color: #ffffff;
}

.book-info td, .book-info th {
    border: 1px solid #ddd;
    padding: 8px;
}

.book-info th {
    font-weight: normal;
}

.book-info th:first-child,
.book-info td:first-child {
    font-weight: bold;
}


.aaaa {
    border-collapse: collapse;
    width: 100%
}

.detail-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.detail-table tr {
    background-color: #ffffff;
}

.detail-table td, .detail-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.detail-table th {
    font-weight: normal;
}

.detail-table .first tr:first-child th {
    font-weight: bold;
}

.displayInfo {
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

