@using FinalProject.Models;

@*Inbound Model*@
@model SearchBy

@{
    Layout = null; // This will remove the layout for the partial view
}

<div>
    @Html.DropDownListFor(x => x.selectedAuthor, Model.allAuthors, "-- Select an option --", new { id = "authorFilter" })
</div>


<script>
    $(document).ready(function () {
        // Get the selectedAuthor from the query parameter, if it exists
        var selectedAuthor = getParameterByName("selectedAuthor");

        // Set the selected option in the dropdown
        if (selectedAuthor) {
            $("#authorFilter").val(selectedAuthor);
        }

        $("#authorFilter").change(function () {
            var selectedAuthor = $(this).val();

            if (selectedAuthor) {
                // Navigate to the BrowseByAuthor action with the selected author as a parameter
                window.location.href = "@Url.Action("BrowseByAuthorPost", "Home")?selectedAuthor=" + selectedAuthor;
            }
        });

        // Function to get query parameter value by name
        function getParameterByName(name) {
            var url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
    });
</script>


